<ion-view title='Settings' ng-controller='SettingsCtrl as vm'>
  <ion-content class='has-header padding'>


      <h2 ng-show='vm.downloadSize && vm.smallDL()'>Test packet size - {{vm.downloadSize}} KB</h2>
      <h2 ng-show='vm.downloadSize && vm.largeDL()'>Test packet size - {{vm.downloadSize}} MB</h2>
    	<div class="item range no-border">
  		  <i class="icon ion-ios-cloud-download-outline"></i>
  		  <input type="range" name="downloadSize" min="64" max="4194" ng-model="vm.downloadSize" >
  		  <i class="icon ion-ios-cloud-download-outline icon-larger padding-right-50"></i>
  		</div>


    <br>
    

    <h2>Test interval - {{vm.testRate}} seconds</h2>
    <div class="item range no-border">
      <i class="icon ion-ios-time-outline"></i>
      <input type="range" name="testRate" min="10" max="3600" ng-model="vm.testRate" >
      <i class="icon ion-ios-time-outline icon-larger padding-right-50"></i>
    </div>

    <br>

    <div class="row">
      <div class="col-50 col-center">
        <h2>Auto/Manual mode</h2>
        <h5 ng-show="vm.autoMode">Test every {{vm.testRate}} seconds - {{vm.hourlyUsage()}} total per hour</h5>
        <h5 ng-show="!vm.autoMode">Test on demand</h5>
      </div>
      <ion-toggle class='col-50 col-center no-border' ion-toggle-text="<i class='icon ion-ios-time'></i>&nbsp;Automatic;<i class='icon ion-android-hand'></i>&nbsp;Manual" ng-model="vm.autoMode">
      <h2>&nbsp;</h2><!-- cheesy horizontal row alignment fix -->
      </ion-toggle>      
    </div>

    <div class="row">
      <div class="col-50 col-center">
        <h2>Sharing mode</h2>
        <h5 ng-show="vm.shareMode">Share anonymous performance</h5>
        <h5 ng-show="!vm.shareMode">No peer statistics or sharing</h5>
      </div>
      <ion-toggle class='col-50 col-center no-border' ion-toggle-text="<i class='icon ion-ios-people'></i>&nbsp;Community;<i class='icon ion-ios-person'></i>&nbsp;Standalone" ng-model="vm.shareMode">
      <h2>&nbsp;</h2><!-- cheesy horizontal row alignment fix -->
      </ion-toggle>      
    </div>


    <div class="row">
      <div class="col-50 col-center">
        <h2>Dev mode</h2>
        <h5 ng-show="vm.DEVMODE">Dev mode - simulate random geolocation</h5>
        <h5 ng-show="!vm.DEVMODE">Prod mode - use device's geolocation</h5>
      </div>
      <ion-toggle class='col-50 col-center no-border' ion-toggle-text="<i class='icon ion-bug'></i>&nbsp;Development;<i class='icon ion-earth'></i>&nbsp;Production" ng-model="vm.DEVMODE">
      <h2>&nbsp;</h2><!-- cheesy horizontal row alignment fix -->
      </ion-toggle>      
    </div>

    <h2>Low/Medium threshold - {{vm.thresholdSlow}}</h2>
    <div class="item range no-border">
      <i class="icon ion-location"></i>
      <input type="range" name="thresholdSlow" min="1" max="5000" ng-model="vm.thresholdSlow" >
      <i class="icon ion-location icon-larger padding-right-50"></i>
    </div>

    <h2>Medium/High threshold - {{vm.thresholdMedium}}</h2>
    <div class="item range no-border">
      <i class="icon ion-location"></i>
      <input type="range" name="thresholdMedium" min="1" max="5000" ng-model="vm.thresholdMedium" >
      <i class="icon ion-location icon-larger padding-right-50"></i>
    </div>


    <div class="row padding-bottom-50">
        <button class="button button-block button-assertive" ng-click="vm.confirmClearLocal()">
          Clear local storage
        </button>
    </div>

  </ion-content>

  <!-- This fixed button at the bottom works great IF you have the vertical real estate -->
  <!-- <div class="fixed-outside">
    <div class="row">
        <button class="button button-block button-assertive" ng-click="vm.confirmClearLocal()">
          Clear local storage
        </button>
    </div>
  </div>
 -->
</ion-view>